@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

/* Baaki ka custom code */
.bg-earthy-gradient {
  background: linear-gradient(180deg, rgba(245, 245, 244, 0) 0%, rgba(231, 229, 228, 0.4) 100%);
}